  <% if article.stamped_by?(current_user) %>
  <p><%=link_to (image_tag 'My Post (3).png', :size =>'350x350'),article_stamps_path(article.id), method: :delete, remote: true %></p>
  <% else %>
  <p><%=link_to (image_tag 'My Post (5).png', :size =>'350x350'), article_stamps_path(article.id), method: :post, remote: true %></p>
  <% end %>