// Place all the styles related to the public/articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
    margin: 0;
    padding: 0;
 }

.mapping-body {
  background-image: image-url("on_037.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #000000;
}


.articles-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.article-box {
  width: 45%;
  margin: 5px;
  border: 1px solid #ACAAAA;
  text-align: center;
  background-color: rgba(250, 220, 150, 0.5);
  font-family: Hiragino Sans;
  display: flex;
}

.article-box-left {
  width: 40%;
  height: 100%;
}

.article-box-right {
  width: 60%;
  height: 100%;
  line-height: 15px;
}

.articles-container-text {
  font-family: Hiragino Sans;
}

.article-show {
   border: 2px solid #ACAAAA;
   width: 70%;
   margin: 0 auto;
   background-color: rgba(250, 220, 150, 0.2);
}

.article-show-top {
  text-align: center;
}

.article-show-title {
  font-size: 50px;
  padding-top: 30px;
}

.article-show-image {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  width: auto;
}

.article-show-image-contents {
  margin-left: 50px;
  margin-top: 30px;
}

.favorite-btn{
  font-size: 20px;
}

.article-show-information {
  padding-top: 50px;
  margin: 0 auto;
  font-size: 20px;
}

.article-show-edit {
  text-decoration: none;
}

.form-group {
  margin: 10px;
  text-align: center;
}

.new-comment {
  text-align: center;
}

.admin-article-show-image {
  margin-left: 145px;
}

.pagenate {
  text-align: center;
  margin-top: 10px;
}

.grid-article {
  transition: .3s;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 5px;
}

.grid-article:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0,0,0,5);
}

.grid-article-show {
  transition: .3s;
}

.grid-article-show:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0,0,0,5);
}

.ranking-articles-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.ranking-article-box {
  width: 23%;
  margin: 5px;
  border: 1px solid #ACAAAA;
  text-align: center;
  background-color: rgba(250, 220, 150, 0.2);
  font-family: Hiragino Sans;
  line-height: 15px;
}

.ranking-grid-article {
  transition: .3s;
  width: 80%;
  height: 200px;
  object-fit: cover;
}

.ranking-grid-article:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0,0,0,5);
}