// Place all the styles related to the public/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  margin-left: 60px;
  margin-bottom: 40px;
}

.comment-box-top {
  display: flex;
}

.comment-box-bottom {
  text-align: none;
  word-break: break-word;
}

.return-btn {
  text-align: center;
}

.comment-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.timeline-comment-box {
  width: 100%;
  border: 1px solid #ACAAAA;
  margin-bottom: 20px;
  box-shadow: 0 0 2rem rgba(0,0,0,0.5);
}

.timeline-comment-body {
  margin-left: 20px;
}

.comment-article-info {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.comment-article-info-left {
  width: 40%;
}

.comment-article-info-left img {
  width: 250px;
  height: 190px;
}

.comment-article-info-right {
  width: 60%;
  margin-left: 50px;
}

//.comment-article-info-right p{}
//.comment-article-info-right h2 {}
//.comment-article-info-right a {}

.timeline-comment-user-image {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 10px;
}

.timeline-margin {
  margin: 0 auto;
}

.comment-article-info-item {
  display: flex;
}