// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-body {
  margin: 0;
  padding: 0;
  background-color: black;
}


.top-visual {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}


.top-title {
  font-size: 200px;
  background-color: rgba(250, 250, 250, 0.5);
  width: 80%;
  margin: 150px auto;
}

.top-container {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.top-enter {
  color: white;
  font-size: 50px;
  text-decoration: none;
  font-family: "HiraMinProN-W6";
}

.top-main {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  background-size: cover;
  background-image: image-url("cloris-ying-WfJUFG3opyo-unsplash.jpg");
  margin-top: 50px;
  background-position: center;
  margin-left: -60px;
}

.about {
 text-align: center;

}

.about-title {
 font-size: 70px;
}

.about-image {
  background-image: image-url('AME895_onsengai_TP_V.jpg');
  background-size: cover;
  background-position: center;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.nil {
  height: 150px;
}

.about-introduction {
   background-color: rgba( 0, 0, 0, 0.7);
   width: 100%;
   margin: 0 auto;
   color: white;
}

.top-container:hover {
  background-color: rgba( 250, 250, 250, 0.7);
}

.top-enter:hover {
  color: black;
}