// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise-body {
  background-image: image-url("826076_l.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-show {
   border: 2px solid #ACAAAA;
   width: 79%;
   margin: 0 auto;
   border-radius: 5%;
   background-color: white;
}

.user-show-top {
  display: flex;
  justify-content: center;
}

.user-show-top-left {
  margin-top: 30px;
  object-fit: cover;
}

.user-show-top-right {
  margin-left: 40px;
}

.user-show-introduction {
  width: 90%;
  height: 150px;
  border: 2px solid #ACAAAA;
  margin: 0 auto;
  word-break: break-word;
  margin-top: 30px;
}

.user-stamp-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;
}

.user-show-empty {
  height: 90px;
}

.word-break {
  word-break: break-word;
}

.user-profile {
  width: 100%;

}
.user-profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover
}

.calender-body {
  background-image: image-url("elooopa_2017102349.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.calender-main {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 50px;
}

.simple-calendar {
  background-color: white;
}