// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show-top {
  margin-left: 40px;
  display: flex;
}

.user-show-top-right {
  margin-left: 60px;
}

.user-show-introduction {
  width: 90%;
  height: 150px;
  border: 2px solid #ACAAAA;
  margin: 0 auto;
  word-break: break-word;
}

.user-stamp-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-show-empty {
  height: 90px;
}

.word-break {
  word-break: break-word;
}