<div class="about">
  <div class="about-image">
    <div class="nil"></div>
    <div class="about-introduction">
    温泉についての情報をユーザー同士で共有するアプリケーションです。<br>
    情報の共有だけでなく、自分が行った温泉の記録を残したり、<br>
    近くの温泉を検索できたりとさまざまな機能を備えております。<br>
    </div>
  </div>
  <p>会員登録はこちら  <%= link_to "新規登録", new_user_registration_path %></p>
</div>