<div id='map'></div>
<style>
#map {
  height: 600px;
  width: 1100px;
}
</style>

<script>
  let map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.68123620000001, lng:139.7671248},
          zoom: 12,
      });

      <% @articles.each do |m| %>
          (function(){
          var contentString = "住所：<%= m.address_city %>";
          var marker = new google.maps.Marker({
              position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
              map: map,
              title: contentString
          });
          })();
      <% end %>
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_Maps_API_Key"]%>&callback=initMap" async defer></script>