<h1>一覧</h1>
<% @articles.each do |article| %>
<p><%= article.name %></p>
<% if user_signed_in? %>
<p>
  <%= link_to 'Show', article_path(article) %>
</p>
<% elsif admin_signed_in? %>
<p>
  <%= link_to 'Show', admin_article_path(article) %>
</p>
<% end %>
<% end %>