/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 body {
   margin: 0;
   padding: 0;
 }

 main {

  width: 80%;
  margin: 0 auto;
  padding: 50px 20px 20px 50px;
  margin-bottom: 70px;
  background-size: cover;
 }

 header {
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 6px solid black;
  margin-top: -25px;
}

.navbar-right {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  margin-right: 30px;
  margin-top: 35px;
  height: 100%
}

.logo {
  height: 100%;
}

.nav-list-item {
  margin: 5px;
  color: black;
  font-size: 26px;
  font-family: 'Kosugi Maru', sans-serif;
  text-decoration: none;
}

.nav-list-item:hover {
  color: gray;
}

.devise-container {
    margin: 0 auto;
    border: 2px solid #ACAAAA;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 2%;
}

.sign-up-title {
    text-align: center
}

.log-in-title {
    text-align: center
}

#map {
    margin: 0 auto;
}

 footer {
  background-color: black;
  width: 100%;
  height: 70px;
  color: white;
  text-align: center;
}

textarea {
    width: 300px;
    height: 100px;
}


/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba( 250, 250, 250, 0.95);
  text-align:center;
}


/* Loading画像中央配置　*/
#splash_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}


/* fadeUpをするアイコンの動き */
.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity: 1;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}