<% if resource.errors.any? %>
  <div id="error_explanation">
   <h2>
      <%= resource.errors.count %> ヶ所修正して下さい
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
