  <% if obj.errors.any? %>
  <div id="error_explanation">
   <h2 class="alert-heading">
      <%= obj.errors.count %> ヶ所修正して下さい
   </h2>
   <ul>
     <% obj.errors.full_messages.each do |message| %>
      <li>
       <%= message %>
      </li>
     <% end %>
    <% end %>
   </ul>
  </div>