<nav class="navbar-left">
  <h1 class="logo"><%= link_to (image_tag 'news_img_20180509142529233.jpeg', :size =>'270x100'),root_path %></h1>
</nav>
<nav class="navbar-right">
  <li><%= link_to '一覧',  articles_path, class:"nav-list-item" %></li>
  <li><%= link_to '新規投稿',  new_article_path, class:"nav-list-item" %></li>
</nav>